/* lato */


@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('../fonts/lato/lato-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato/lato-italic-webfont.eot');
    src: url('../fonts/lato/lato-italic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato/lato-light-webfont.eot');
    src: url('../fonts/lato/lato-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}






@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/****  Rokkit  ****/

@font-face {
    font-family: 'rokkittblack';
    src: url('../fonts/rokkit/rokkitt-black-webfont.eot');
    src: url('../fonts/rokkit/rokkitt-black-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rokkit/rokkitt-black-webfont.woff2') format('woff2'),
         url('../fonts/rokkit/rokkitt-black-webfont.woff') format('woff'),
         url('../fonts/rokkit/rokkitt-black-webfont.ttf') format('truetype'),
         url('../fonts/rokkit/rokkitt-black-webfont.svg#rokkittblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/***** Montserrat  ****/
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat/montserrat-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat/montserrat-medium-webfont.eot');
    src: url('../fonts/montserrat/montserrat-medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-medium-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-medium-webfont.svg#montserratmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat/montserrat-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

