@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');

body, html {
	margin: 0; padding: 0;
	font-size: 16px; -webkit-font-smoothing: antialiased;
	background-color: #09334f;
	position: relative;
}
#yetiSVG {
	width: 600px; height: 470px;
	position: absolute; top: 0; left: 0;
	overflow: hidden;
}
#lightSVG {
	width: 600px; height: 470px;
	position: absolute; top: 0; left: 0;
	overflow: visible;
}
.content {
	padding: 5rem 3rem 0 25rem;
	position: relative; z-index: 10;
	font-family: 'Source Sans Pro', sans-serif; color: #FFF;
	h3 {
		margin: 0 0 .8rem;
		font-size: 2.625rem; font-weight: 900; line-height: 120%;
	}
	p {
		font-size: 1.25rem; font-weight: normal; line-height: 150%; color: #d1e2ed;
		span {text-decoration: line-through;}
	}
}


* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
}
.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
body {
  margin: 0;
  padding: 0;
}

#container {
  position: fixed;
  touch-action: none;
}

#description {
  background: #FFF;
  // font-size: 20px;
  left: 50%;
  margin: 150px 0 0 0;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 2;
  
}