.menu-edit {
    min-height: 30px;
    background-color: #c1cdd4;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #BBB;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-radius: 7px 7px 0 0;
}

.menu-edit > * {
    width: 23px;
    padding: 2px;
    margin: 3px 2px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #4e4e4e;
}

.menu-edit .frmttxt-mn-it.frmttxt-mn-slcndo {
    background-color: #E8E8E8 !important;
}

.menu-edit .frmttxt-mn-it:not([data-frmt="txtcor"]):hover {
    color: #E4D6C2 !important;
    background-color: #656565 !important;
    border: 1px dotted rgba(204, 204, 204, 0.5) !important;
}

.menu-edit .frmttxt-mn-gp:hover {
    background-color: #E8E8E8 !important;
}

.menu-edit .frmttxt-mn-gp::after {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #5D5D5D;
    color: inherit;
    content: ' ';
    position: absolute;
    top: 12px;
    left: 21px;
}

.menu-edit .frmttxt-mn-gp .frmttxt-mn-drpdn {
    font-weight: normal;
    max-height: 160px;
    overflow: auto;
    background: #ffffff;
    left: -13px;
    top: 25px;
    margin-top: 0;
    padding: 0;
    border: solid 1px #989898;
    border-top-color: #E0E0E0;
    box-shadow: 2px 4px 10px #989898;
    display: none;
    position: absolute;
    z-index: 1000;
}

.menu-edit .frmttxt-mn-gp .frmttxt-mn-drpdn .frmttxt-mn-it {
    border: 1px dotted #D6D6D6;
    border-top: none;
    border-left: none;
    float: left;
}

.menu-edit .extra-frmt .frmttxt-mn-drpdn {
    width: 102px;
}

.menu-edit .extra-frmt .frmttxt-mn-drpdn .frmttxt-mn-it {
    width: 25px;
    height: 23px;
    padding: 3px;
}

.menu-edit .extra-frmt .sobrescrito, .menu-edit .extra-frmt .subscrito {
    font-weight: 500;
}

.menu-edit .extra-frmt .sobrescrito > span, .menu-edit .extra-frmt .subscrito > span {
    color: rgba(0, 0, 0, 0.2);
}

.menu-edit .tipo-lista > span {
    font-size: 14px;
}

.menu-edit .tipo-lista .frmttxt-mn-drpdn {
    width: 52px;
}

.menu-edit .tipo-lista .frmttxt-mn-drpdn .frmttxt-mn-it {
    width: 25px;
    height: 24px;
    padding-top: 5px;
    font-size: 14px;
}

.menu-edit .fonte-tmnho .frmttxt-mn-drpdn {
    width: 62px;
}